# Ignorar arquivos de dados das camadas
app/bronze/parquet
app/silver/**
app/gold/**

# Exceto scripts ou arquivos importantes (se houver)
!app/bronze/**/*.py
!app/silver/**/*.py
!app/gold/**/*.py

# Ignorar arquivos temporários e de sistema
*.log
*.tmp
*.swp
.DS_Store
htmlCov

# Ignorar ambientes virtuais
.venv/
.env/
__pycache__/